<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="10068"></title>
  <link rel="stylesheet" href="../css/apply_member.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="10068"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">

        <div class="apply-member-header">
          <div class="apply-member-picture-box">
            <div class="apply-member-picture-border"></div>
            <div class="apply-member-picture"></div>
          </div>
          <div class="apply-member-group-info">
            <div class="apply-member-group-name">這是頻道名稱</div>
            <div class="apply-member-group-id-box">
              <div class="apply-member-group-id-title" data-key="10063"></div>
              <div class="apply-member-group-id">123</div>
            </div>
          </div>
        </div>
        <div class="apply-member-body">
          <div class="apply-member-group-info">
            <div class="apply-member-group-instructions-box">
              <div class="apply-member-group-instructions-title" data-key="20199"></div>
              <div class="apply-member-group-instructions">這是通知，不是商量</div>
            </div>
          </div>
          <div class="split"></div>
          <div class="apply-member-group-info">
            <div class="apply-member-group-instructions-box">
              <div class="apply-member-group-instructions-title" data-key="10066"></div>
              <div class="apply-member-group-instructions-input-border"><input
                  class="apply-member-group-instructions-input" value="123"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="apply" data-key="40004"></div>
      <div class="cancel" data-key="40001"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/apply_member.js"></script>




</body>

</html>