<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="30295"></title>
  <link rel="stylesheet" href="../css/theme.css">
  <link rel="stylesheet" href="../css/change_group_name.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30295"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">

        <div class="change-group-name-account-item">
          <div class="change-group-name-account-box">
            <div class="change-group-name-account-title" data-key="24443"></div>
            <div class="change-group-name-account-value">jasper888</div>
          </div>
        </div>
        <div class="change-group-name-account-item">
          <div class="change-group-name-account-title" data-key="20088"></div>
          <div class="change-group-name-account-value">jasper888</div>
        </div>
        <div class="change-group-name-account-item">
          <div class="change-group-name-account-title" data-key="30293"></div>
          <div class="change-group-name-input-border"><input class="change-group-name-input" value="123"></div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="40000"></div>
      <div class="cancel" data-key="40001"></div>
      <div class="use" data-key="40006"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/change_group_name.js"></script>


</body>

</html>