<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-key="20701"></title>
  <link rel="stylesheet" href="../css/theme.css" />
  <link rel="stylesheet" href="../css/create_account.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet" />
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="20701"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="create-account-form">
        <div class="create-account-input-wrapper">
          <label for="username" data-key="20050"></label>
          <input type="text" id="username" autocomplete="off" />
        </div>
        <div class="create-account-input-wrapper">
          <label for="password" data-key="20051"></label>
          <input type="password" id="password" />
        </div>
        <div class="create-account-input-text"><span data-key="24463"></span></span></div>
        <div class="create-account-input-wrapper">
          <label for="password" data-key="24446"></label>
          <input type="password" id="check_password" />
        </div>
        <div class="create-account-input-text"><span data-key="24439"></span></span></div>
        <div class="create-account-input-wrapper">
          <label for="email" data-key="24471"></label>
          <input type="email" id="email" autocomplete="off" />
        </div>
        <div class="create-account-input-text"><span data-key="24435"></span></span></div>

        <div class="warning-message-box">
          <span></span>
        </div>
        <button class="create-account-btn" data-key="24450"></button>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/create_account.js"></script>
</body>

</html>