<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-key="30014"></title>
  <link rel="stylesheet" href="../css/create_group.css" />
  <link rel="stylesheet" href="../css/theme.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet" />
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30014"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-header">
        <div class="dialog-header-button">
          <span data-key="60029"></span>
        </div>
      </div>
      <div class="dialog-body">
        <div class="dialog-message">
          <p data-key="30242"></p>
        </div>

        <label class="dialog-label" data-key="60030"></label>

        <div class="dialog-button-group">
          <div class="dialog-btn" data-key="31001"></div>
          <div class="dialog-btn" data-key="31002"></div>
          <div class="dialog-btn" data-key="31000"></div>
        </div>
      </div>
    </div>

    <div class="dialog-footer">
      <div class="confirmed" data-key="30024"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/create_group.js"></script>
</body>

</html>