<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-key="30051"></title>
  <link rel="stylesheet" href="../css/dialog.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet" />
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30051"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">
        <div class="dialog-icon"></div>
        <div class="dialog-msg" data-key="20119"></div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="40000"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/dialog.js"></script>
</body>

</html>