<link rel="stylesheet" href="../css/error.css" />
<table width="100%" height="100%">
  <tr>
    <td align="center" valign="middle">
      <table>
        <tr>
          <td rowspan="3"><img src="../image/img_error_small.png" /></td>
          <td class="title" data-key="60071"></td>
        </tr>
        <tr>
          <td class="desc" data-key="60072"></td>
        </tr>
        <tr>
          <td class="btn">
            <a
              class="btnReload"
              href="javascript:;"
              hidefocus="true"
              onclick="doRefresh()"
              ><span
                ><img src="../image/icon_reload.png" /><font
                  data-key="60073"
                ></font></span
            ></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
