<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="30147"></title>
  <link rel="stylesheet" href="../css/invitation_friend.css">
  <link rel="stylesheet" href="../css/theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30147"></span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>
    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">
        <div class="invitation-friend-box">
          <div class="invitation-friend-search-header">
            <div class="invitation-friend-search-border">
              <input type="text" class="invitation-friend-input" data-placeholder="50011">
            </div>
            <div class="invitation-friend-button" data-key="66032"></div>
          </div>
          <div class="invitation-friend-body">
            <div class="invitattion-friend-friends">
              <div class="widget friends-widget">
                <div class="invitattion-friend-friends-user-list friends">
                  <div class="invitattion-friend-friends-user-groups">
                    <div class="invitattion-friend-friends-groups-header">
                      <div class="invitattion-friend-friends-toggle-icon"></div>
                      <span data-key="50027"></span>
                      <span class="invitattion-friend-friends-number">(17)</span>
                    </div>
                    <ul class="invitattion-friend-friends-group-users">
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>

                        </div>
                      </li>
                      <li class="invitattion-friend-friends-user-box">
                        <div class="invitattion-friend-friends-group-friends-header-avatar-border"></div>
                        <div class="invitattion-friend-friends-group-user-pic"></div>
                        <div class="invitattion-friend-friends-group-user-info">
                          <span class="invitattion-friend-friends-group-user-name">小秘書</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/invitation_friend.js"></script>
</body>

</html>