<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialog</title>
  <link rel="stylesheet" href="../css/theme.css">
  <link rel="stylesheet" href="../css/member_group_chat.css">
  <link rel="stylesheet" href="../css/user_icon.css">
  <link rel="stylesheet" href="../css/window.css">
  <link rel="stylesheet" href="../css/lobby/vip.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30314"></span></div>
      <div class="buttons">
        <div class="minimize"></div>
        <div class="maxsize"></div>
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">
        <div class="member-group-chat-left">
          <div class="member-group-chat-left-header">
            <div class="member-group-chat-left-header-left">
              <div class="member-group-chat-left-header-title" data-key="30317"></div>
              <div class="member-group-chat-left-header-number">(1)</div>
            </div>
            <div class="member-group-chat-left-header-search"></div>
          </div>
          <div class="member-group-members">
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="vip-icon vip-5 "></div>
                <div class="member-group-user-name set-channel-name">123</div>

              </div>
              <div class="member-group-user-current-location"></div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="vip-icon vip-4 "></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="vip-icon vip-3 "></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="vip-icon vip-2 "></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="vip-icon vip-1 "></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
            <div class="member-group-user ">
              <div class="member-group-user-info">
                <div class="member-group-user-role member-icon-male member-icon-channel-server-manager"></div>
                <div class="member-group-user-name">123</div>
              </div>
            </div>
          </div>
          <div class="member-group-operate-context-menu" style="display: none; left: 64px; top: 390px;">
            <ul>
              <li data-key="30080"></li>
              <li data-key="30081"></li>
              <li data-key="30082"></li>
            </ul>
          </div>
        </div>
        <div class="member-group-chat-right">
          <div class="member-group-text-area">
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
            <div class="member-group-system-msg msg-nt-notify msg-icon" data-key="10014"></div>
          </div>
          <div class="member-group-input-area">
            <div class="member-group-input-top-bar">
              <div class="top-bar-left">
                <div class="top-bar-font"></div>
                <div class="top-bar-emoji"></div>
                <div class="top-bar-screen-shot"></div>
              </div>
              <div class="top-bar-history" data-key="30136"></div>
            </div>
            <div class="member-group-input-textarea"><textarea class="member-group-textarea"
                spellcheck="false"></textarea>
              <div class="member-group-input-enter"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/member_group_chat.js"></script>
</body>

</html>