<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dialog</title>
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/lobby/level.css" />
    <link rel="stylesheet" href="../css/my_profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-container">
      <header>
        <div class="header"><div class="header-bg"></div></div>
        <div class="buttons">
          <div class="minimize"></div>
          <div class="close"></div>
        </div>
      </header>

      <div class="dialog-message-wrapper">
        <div class="profile-header-avatar-box">
          <div class="profile-header-avatar-border"></div>
          <div class="profile-header-avatar-picture"></div>
          <div class="profile-header-user-info">
            <span class="profile-header-display-name">HELLO WORLD</span>
            <div class="profile-header-icons">
              <span class="profile-header-level lv-55"></span
              ><span class="profile-header-base-info-weath"></span>
            </div>
            <span class="profile-header-username">@test123</span>
          </div>
        </div>
        <div class="profile-tab">
          <div class="profile-me active">123</div>
          <div class="profile-groups">123</div>
        </div>
        <div class="profile-input-area-wrapper">
          <div class="profile-buttons">
            <div class="profile-button">123</div>
            <div class="profile-button">123</div>
          </div>

          <div class="profile-input-area"><div></div></div>
        </div>
      </div>
      <div class="dialog-footer">
        <div class="confirmed" data-key="30025">確定</div>
      </div>
    </div>

    <script type="text/javascript" src="../js/require.js"></script>
    <script type="text/javascript" src="../js/key.js"></script>
    <script type="text/javascript" src="../js/my_profile.js"></script>
  </body>
</html>
