<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-key="10080"></title>
  <link rel="stylesheet" href="../css/theme.css" />
  <link rel="stylesheet" href="../css/lobby/badge.css">
  <link rel="stylesheet" href="../css/lobby/level.css" />
  <link rel="stylesheet" href="../css/my_profile.css" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet" />
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header">
        <div class="header-bg"></div>
      </div>
      <div class="buttons">
        <div class="minimize"></div>
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="profile-header-avatar-box">
        <div class="profile-header-avatar-border"></div>
        <div class="profile-header-avatar-picture"></div>
        <div class="profile-header-user-info">
          <span class="profile-header-display-name">HELLO WORLD</span>
          <div class="profile-header-icons">
            <span class="level-icon lv-55"></span><span class="profile-header-base-info-weath"></span>
          </div>
          <span class="profile-header-username">@test123</span>
          <div class="profile-header-other-info">
            <span class="profile-header-gender" data-key="24454"></span><span
              class="profile-header-year-old">0</span><span class="profile-header-country">台灣</span>
          </div>
        </div>
      </div>
      <div class="profile-tab">
        <div class="profile-me active" data-key="20252"></div>
        <div class="profile-groups" data-key="30019"></div>
      </div>
      <div class="profile-form-wrapper">
        <div class="profile-form-buttons">
          <div class="profile-form-button blue" data-key="40000"></div>
          <div class="profile-form-button" data-key="40001"></div>
        </div>

        <div class="profile-form-input-wrapper">
          <div class="profile-form-row">
            <div class="profile-form-group">
              <label for="profile-form-nickname" data-key="24444"></label>
              <input type="text" id="profile-form-nickname" value="Arcana" />
            </div>
            <div class="profile-form-group">
              <label for="profile-form-gender" data-key="24453"></label>
              <div class="select-wrapper">
                <select id="profile-form-gender">
                  <option selected data-key="24454"></option>
                  <option data-key="24455"></option>
                </select>
                <div class="profile-form-select-drop-down-icon"></div>
              </div>
            </div>
          </div>

          <div class="profile-form-row">
            <div class="profile-form-group">
              <label for="profile-form-country" data-key="24460"></label>
              <div class="select-wrapper">
                <select id="profile-form-country">
                  <option selected="">台灣</option>
                </select>
                <div class="profile-form-select-drop-down-icon"></div>
              </div>
            </div>
            <div class="profile-form-group">
              <label for="profile-form-birthdate" data-key="30141"></label>
              <div class="profile-form-birthdate-group">
                <div class="select-wrapper">
                  <select id="year">
                    <option selected>2025</option>
                  </select>
                  <div class="profile-form-select-drop-down-icon"></div>
                </div>
                <div class="select-wrapper">
                  <select id="month">
                    <option selected>10</option>
                  </select>
                  <div class="profile-form-select-drop-down-icon"></div>
                </div>
                <div class="select-wrapper">
                  <select id="day">
                    <option selected>05</option>
                  </select>
                  <div class="profile-form-select-drop-down-icon"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="profile-form-group">
            <label for="profile-form-signature" data-key="30140"></label>
            <input type="text" id="profile-form-signature" value="JASPER" />
          </div>

          <div class="profile-form-group">
            <label for="profile-form-about" data-key="30143"></label>
            <textarea id="profile-form-about"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="30146"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/my_profile.js"></script>
</body>

</html>