<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="10158"></title>
  <link rel="stylesheet" href="../css/server_setting.css">
  <link rel="stylesheet" href="../css/theme.css">



  <link rel="stylesheet" href="../css/user_icon.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span>這是頻道名稱</span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">

        <div class="server-setting-left">
          <div class="server-setting-tabs-wrapper">
            <div class="server-setting-tab active" for="basic" data-key="10158"></div>
            <div class="server-setting-tab" for="notify" data-key="20195"></div>
            <div class="server-setting-tab" for="member_management" data-key="20107"></div>
            <div class="server-setting-tab" for="access_permission" data-key="20073"></div>
            <div class="server-setting-tab" for="member_application_management" data-key="20108"></div>
            <div class="server-setting-tab" for="block_management" data-key="20144"></div>
          </div>
        </div>
        <div class="server-setting-right">
          <div class="server-setting-page" data-page="basic" style="display: block;">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20082"></div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20083"></div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                          disabled="">
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain server-setting-slogen">
                      <div class="server-setting-text" data-key="60039"></div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-picture-box">
                  <div class="server-setting-picture"></div>
                  <div class="server-setting-change-picture-button" data-key="20087"></div>
                </div>


              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20084"></div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><select class="server-setting-select">
                            <option data-key="31000"></option>
                            <option data-key="31001"></option>
                            <option data-key="31002"></option>
                          </select>
                          <div class="server-setting-select-drop-down-icon"></div>

                        </div>
                        <div class="server-setting-type-icon"></div>
                      </div>
                    </div>

                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20085"></div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20202"></div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-rich-coin-title">
                        <div class="server-setting-text" data-key="20203"></div>
                        <div class="server-setting-rich-coin"></div>
                      </div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>

                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20104"></div>

                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text server-setting-url">http://raidcall.com/test.php?sid=123</div>

                    </div>
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20131"></a>

                    </div>



                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain server-setting-about">
                      <div class="server-setting-text" data-key="20086"></div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>



                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20241"></a>

                    </div>
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20242"></a>

                    </div>



                  </div>

                </div>



              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="member_management">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-member-management-header">
                  <div class="server-setting-text" data-key="20110"></div>
                  <div class="server-setting-member-search-wrapper">
                    <div class="server-setting-member-search-border">
                      <div class="server-setting-member-search-icon"></div><input
                        class="server-setting-membeer-search-input" id="member_management_search"
                        data-placeholder="30231">
                      <div class="server-setting-member-search-prev"></div>
                      <div class="server-setting-member-search-next"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-member-management-body">
                  <div class="server-setting-member-list-wrapper">
                    <div class="server-setting-member-list">
                      <div class="server-setting-member-list-header">
                        <div class="server-setting-member-list-header-th" data-key="20088"></div>
                        <div class="server-setting-member-list-header-th" data-key="20089"></div>
                        <div class="server-setting-member-list-header-th" data-key="20090"></div>
                        <div class="server-setting-member-list-header-th" data-key="20091"></div>
                      </div>
                      <div class="server-setting-member-list-body">
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-super-manager">
                              </div>
                              <div class="server-setting-member-user-name set-channel-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30032"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-customer-service">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30031"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-owner">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30030"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30029"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-sub-channel-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30423"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-channel-server-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30028"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-member">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30027"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-text" data-key="20103"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="access_permission">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-text-line-header">
                  <div class="server-setting-text-line-title" data-key="20073"></div>
                  <div class="server-setting-text-line-split"></div>
                </div>
                <div class="server-setting-access-permission-body disabled">
                  <div class="server-setting-radiobox-contain">
                    <label class="server-setting-radiobox-box">
                      <input checked="" type="radio" name="access_permission" class="server-setting-radiobox public">
                      <span class="server-setting-radiobox-text" data-key="20179"></span>
                    </label>
                  </div>
                  <label class="server-setting-radiobox-contain">
                    <div class="server-setting-radiobox-box">
                      <input type="radio" name="access_permission" class="server-setting-radiobox half-public">
                      <span class="server-setting-radiobox-text" data-key="20180"></span>
                    </div>
                    <div class="server-setting-radiobox-text" data-key="20177"></div>
                  </label>
                  <label class="server-setting-radiobox-contain">
                    <div class="server-setting-radiobox-box">
                      <input type="radio" name="access_permission" class="server-setting-radiobox private">
                      <span class="server-setting-radiobox-text" data-key="20181"></span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="notify">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-notify-header">
                  <div class="server-setting-text" data-key="20101"></div>
                  <div class="server-setting-notify-preview-button" data-key="20188"></div>
                </div>
                <div class="server-setting-notify-textarea-box"><textarea
                    class="server-setting-notify-textarea">123</textarea></div>
                <div class="server-setting-text markdown-title">支援 Markdown 語法：**粗體**, *斜體*, # 標題, - 列表, ```程式碼```,
                  [連結](https://)</div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="member_application_management">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-member-application-management-header">
                  <div class="server-setting-text" data-key="20109"></div>
                  <div class="server-setting-text" data-key="20198"></div>
                </div>
                <div class="server-setting-member-application-management-body">
                  <div class="server-setting-member-list-wrapper">
                    <div class="server-setting-member-list">
                      <div class="server-setting-member-list-header">
                        <div class="server-setting-member-list-header-th" data-key="20088"></div>
                        <div class="server-setting-member-list-header-th" data-key="20090"></div>
                        <div class="server-setting-member-list-header-th" data-key="20111"></div>
                      </div>
                      <div class="server-setting-member-list-body">
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-sub-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-text" data-key="20103"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="block_management">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-block-management-header">
                  <div class="server-setting-block-management-number-box">
                    <div class="server-setting-text" data-key="50140"></div>
                    <div class="server-setting-value">1</div>
                  </div>
                  <div class="server-setting-member-search-wrapper">
                    <div class="server-setting-member-search-border">
                      <div class="server-setting-member-search-icon"></div><input
                        class="server-setting-membeer-search-input" id="block_management_search"
                        data-placeholder="30231">
                      <div class="server-setting-member-search-prev"></div>
                      <div class="server-setting-member-search-next"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-block-management-body">
                  <div class="server-setting-member-list-wrapper">
                    <div class="server-setting-member-list">
                      <div class="server-setting-member-list-header">
                        <div class="server-setting-member-list-header-th" data-key="20088"></div>
                        <div class="server-setting-member-list-header-th" data-key="20090"></div>
                        <div class="server-setting-member-list-header-th" data-key="20083"></div>
                      </div>
                      <div class="server-setting-member-list-body">
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-sub-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">
                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-guest">
                              </div>
                              <div class="server-setting-member-user-name">123</div>
                            </div>
                          </div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">123</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-text" data-key="20103"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="server-setting-user-operate-context-menu" style="display: none;">
      <ul>
        <li data-key="30080"></li>
        <li data-key="30081"></li>
        <li data-key="30082"></li>
        <li data-key="30157"></li>
        <li data-key="30306"></li>
        <div class="split"></div>
        <li data-key="30307"></li>
        <div class="split"></div>
        <li data-key="30159"></li>
        <li data-key="30286"></li>
        <li data-key="30161"></li>
        <li data-key="30308"></li>
        <div class="split"></div>
        <li>
          <span data-key="30162"></span>
          <div class="server-user-operate-sub-menu">
            <ul>
              <li data-key="30151"></li>
              <li data-key="30153"></li>
              <li data-key="30155"></li>
            </ul>
          </div>
        </li>
        <li data-key="30163"></li>
      </ul>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="40005"></div>
      <div class="cancel" data-key="40001"></div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/server_setting.js"></script>


</body>

</html>