<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="20105"></title>
  <link rel="stylesheet" href="../css/server_setting.css">



  <link rel="stylesheet" href="../css/user_icon.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span>這是頻道名稱</span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">

        <div class="server-setting-left">
          <div class="server-setting-tabs-wrapper">
            <div class="server-setting-tab active" for="basic" data-key="20105">基本資料</div>
            <div class="server-setting-tab" for="notify" data-key="20195">公告</div>
            <div class="server-setting-tab" for="member_management" data-key="20107">會員管理</div>
            <div class="server-setting-tab" for="access_permission" data-key="20073">訪問許可權</div>
            <div class="server-setting-tab" for="member_application_management" data-key="20108">會員申請管理</div>
            <div class="server-setting-tab" for="block_management" data-key="20144">黑名單管理</div>
          </div>
        </div>
        <div class="server-setting-right">
          <div class="server-setting-page" data-page="basic" style="display: block;">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20082">名稱</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20083">ID</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                          disabled="">
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain server-setting-slogen">
                      <div class="server-setting-text" data-key="60039">口號</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-picture-box">
                  <div class="server-setting-picture"></div>
                  <div class="server-setting-change-picture-button" data-key="20087">更換圖像</div>
                </div>


              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20084">類型</div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><select class="server-setting-select">
                            <option data-key="31000">其他</option>
                            <option data-key="31001">遊戲</option>
                            <option data-key="31002">娛樂</option>
                            <option data-key="31003">聚會</option>
                            <option data-key="31004">舞蹈</option>
                            <option data-key="31005">音樂</option>
                            <option data-key="31006">攝影</option>
                            <option data-key="31007">視頻與電影</option>
                            <option data-key="31008">藝術與文化</option>
                            <option data-key="31009">文學與寫作</option>
                            <option data-key="31010">職場與商務</option>
                            <option data-key="31011">教育與學習</option>
                          </select>
                          <div class="server-setting-select-drop-down-icon"></div>

                        </div>
                        <div class="server-setting-type-icon"></div>
                        <div class="server-setting-type-text">修改</div>
                      </div>
                    </div>

                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20085">等級</div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20202">創建時間</div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-rich-coin-title">
                        <div class="server-setting-text" data-key="20203">財富值</div>
                        <div class="server-setting-rich-coin"></div>
                      </div>
                      <div class="server-setting-select-box">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>

                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text" data-key="20104">網址</div>

                    </div>
                    <div class="server-setting-item-contain">
                      <div class="server-setting-text server-setting-url">http://raidcall.com/test.php?sid=123</div>

                    </div>
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20131">複製</a>

                    </div>



                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain server-setting-about">
                      <div class="server-setting-text" data-key="20086">介紹</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>



                  </div>

                </div>



              </div>
              <div class="server-setting-item-wrapper">
                <div class="servet-setting-item-box">
                  <div class="server-setting-page-item">
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20241">管理語音群</a>

                    </div>
                    <div class="server-setting-item-contain">
                      <a class="server-setting-copy-text" data-key="20242">分享語音群</a>

                    </div>



                  </div>

                </div>



              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="member_management">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-member-management-header">
                  <div class="server-setting-text" data-key="20110">會員:%d</div>
                  <div class="server-setting-member-search-wrapper">
                    <div class="server-setting-member-search-border">
                      <div class="server-setting-member-search-icon"></div><input
                        class="server-setting-membeer-search-input" data-placeholder="30231" placeholder="輸入關鍵字或ID搜尋">
                      <div class="server-setting-member-search-prev"></div>
                      <div class="server-setting-member-search-next"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-member-management-body">
                  <div class="server-setting-member-list-wrapper">
                    <div class="server-setting-member-list">
                      <div class="server-setting-member-list-header">
                        <div class="server-setting-member-list-header-th">暱稱</div>
                        <div class="server-setting-member-list-header-th">身份</div>
                        <div class="server-setting-member-list-header-th">貢獻值</div>
                        <div class="server-setting-member-list-header-th">入會時間</div>
                      </div>
                      <div class="server-setting-member-list-body">
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-super-manager">
                              </div>
                              <div class="server-setting-member-user-name set-channel-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30032"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-customer-service">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30031"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-owner">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30030"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-channel-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30029"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-sub-channel-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30423"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div
                                class="server-setting-member-user-role member-icon-male member-icon-channel-server-manager">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30028"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                        <div class="server-setting-member-list-header-td">
                          <div class="server-setting-member-list-item server-setting-member-user">

                            <div class="server-setting-member-user-info">
                              <div class="server-setting-member-user-role member-icon-male member-icon-member">
                              </div>
                              <div class="server-setting-member-user-name">123</div>


                            </div>
                          </div>
                          <div class="server-setting-member-list-item" data-key="30027"></div>
                          <div class="server-setting-member-list-item">0</div>
                          <div class="server-setting-member-list-item">2025-01-01</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="server-setting-text" data-key="20103">右鍵可以進行處理</div>
                  <div class="server-setting-user-operate-context-menu">
                    <ul>
                      <li data-key="30080">傳送即時訊息</li>
                      <li data-key="30081">檢視個人檔案</li>
                      <li data-key="30082">新增好友</li>
                      <li data-key="30157">拒聽此人語音</li>
                      <li data-key="30306">修改群名片</li>
                      <div class="split"></div>
                      <li data-key="30307">移至我的頻道</li>
                      <div class="split"></div>
                      <li data-key="30159">禁止此人語音</li>
                      <li data-key="30286">禁止文字</li>
                      <li data-key="30161">踢出群</li>
                      <li data-key="30308">封鎖</li>
                      <div class="split"></div>
                      <li>
                        <span data-key="30162">會員管理</span>
                        <div class="server-user-operate-sub-menu">
                          <ul>
                            <li data-key="30151">設為頻道管理員</li>
                            <li data-key="30153">設為群管理員</li>
                            <li data-key="30155">設為會員</li>
                          </ul>
                        </div>
                      </li>
                      <li data-key="30163">邀請成為會員</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="access_permission">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-access-permission-header">
                  <div class="server-setting-access-permission-title">訪問許可權</div>
                  <div class="server-setting-access-permission-split"></div>
                </div>
                <div class="server-setting-access-permission-body disabled">
                  <div class="server-setting-access-permission-radiobox-contain">
                    <label class="server-setting-access-permission-radiobox-box">
                      <input type="radio" name="access_permission"
                        class="server-setting-access-permission-radiobox public">
                      <span class="server-setting-access-permission-radiobox-text">公開群</span>
                    </label>
                  </div>
                  <label class="server-setting-access-permission-radiobox-contain">
                    <div class="server-setting-access-permission-radiobox-box">
                      <input type="radio" name="access_permission"
                        class="server-setting-access-permission-radiobox half-public">
                      <span class="server-setting-access-permission-radiobox-text">半公開群</span>
                    </div>
                    <div class="server-setting-access-permission-radiobox-text">(非會員只允許進入大廳)</div>
                  </label>
                  <label class="server-setting-access-permission-radiobox-contain">
                    <div class="server-setting-access-permission-radiobox-box">
                      <input type="radio" name="access_permission"
                        class="server-setting-access-permission-radiobox private">
                      <span class="server-setting-access-permission-radiobox-text">私密群</span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="server-setting-page" data-page="notify">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-wrapper">
                <div class="server-setting-notify-textarea-box"><textarea
                    class="server-setting-notify-textarea">123</textarea></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="40005">保存</div>
      <div class="cancel" data-key="40001">取消</div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/server_setting.js"></script>


</body>

</html>