<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialog</title>
  <link rel="stylesheet" href="../css/server_setting.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="null">這是頻道名稱</span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>

    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">

        <div class="server-setting-left">
          <div class="server-setting-tabs-wrapper">
            <div class="server-setting-tab active" data-key="20105">基本資料</div>
            <div class="server-setting-tab" data-key="20195">公告</div>
            <div class="server-setting-tab" data-key="20107">會員管理</div>
            <div class="server-setting-tab" data-key="20073">訪問許可權</div>
            <div class="server-setting-tab" data-key="20108">會員申請管理</div>
            <div class="server-setting-tab" data-key="20144">黑名單管理</div>
          </div>
        </div>
        <div class="server-setting-right">
          <div class="server-setting-page" data-page="basic">
            <div class="server-setting-page-wrapper">
              <div class="server-setting-item-contain">
                <div class="servet-setting-item">
                  <div class="server-setting-page-item">
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-text" data-key="20082">名稱</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-text" data-key="20083">ID</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                  </div>
                  <div class="server-setting-page-item">
                    <div class="server-setting-slogen-wrapper">
                      <div class="server-setting-text" data-key="60039">口號</div>
                      <div class="server-setting-input-border"><input class="server-setting-input" value="123"></div>
                    </div>
                  </div>
                </div>
                <div class="server-setting-picture-wrapper">
                  <div class="server-setting-picture"></div>
                  <div class="server-setting-change-picture-button" data-key="20087">更換圖像</div>
                </div>


              </div>
              <div class="server-setting-item-contain">
                <div class="servet-setting-item">
                  <div class="server-setting-page-item">
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-text" data-key="20084">類型</div>
                      <div class="server-setting-select-wrapper">
                        <div class="server-setting-input-border"><select class="server-setting-select">
                            <option data-key="31000">其他</option>
                            <option data-key="31001">遊戲</option>
                            <option data-key="31002">娛樂</option>
                            <option data-key="31003">聚會</option>
                            <option data-key="31004">舞蹈</option>
                            <option data-key="31005">音樂</option>
                            <option data-key="31006">攝影</option>
                            <option data-key="31007">視頻與電影</option>
                            <option data-key="31008">藝術與文化</option>
                            <option data-key="31009">文學與寫作</option>
                            <option data-key="31010">職場與商務</option>
                            <option data-key="31011">教育與學習</option>
                          </select>
                          <div class="server-setting-select-drop-down-icon"></div>

                        </div>
                        <div class="server-setting-type-icon"></div>
                        <div class="server-setting-type-text">修改</div>
                      </div>
                    </div>

                  </div>

                </div>



              </div>
              <div class="server-setting-item-contain">
                <div class="servet-setting-item">
                  <div class="server-setting-page-item">
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-text" data-key="20085">等級</div>
                      <div class="server-setting-select-wrapper">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-text" data-key="20202">創建時間</div>
                      <div class="server-setting-select-wrapper">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>
                    <div class="server-setting-name-wrapper">
                      <div class="server-setting-rich-coin-title">
                        <div class="server-setting-text" data-key="20203">財富值</div>
                        <div class="server-setting-rich-coin"></div>
                      </div>
                      <div class="server-setting-select-wrapper">
                        <div class="server-setting-input-border"><input class="server-setting-input" value="123"
                            disabled=""></div>


                      </div>
                    </div>

                  </div>

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="30025">確定</div>
    </div>
  </div>

  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/server_setting.js"></script>







</body>

</html>