<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-key="30066">系統設定</title>
  <link rel="stylesheet" href="../css/system_setting.css">
  <link rel="stylesheet" href="../css/user_icon.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&amp;display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-container">
    <header>
      <div class="header"><span data-key="30066">系統設定</span></div>
      <div class="buttons">
        <div class="close"></div>
      </div>
    </header>
    <div class="dialog-message-wrapper">
      <div class="dialog-message-contain">
        <div class="system-setting-left">
          <div class="system-setting-tabs-wrapper">
            <div class="system-setting-tab active" for="basic" data-key="20040">基本設定</div>
            <div class="system-setting-tab" for="sound_effect" data-key="20128">音頻音效</div>
            <div class="system-setting-tab" for="voice_setting" data-key="20043">語音設定</div>
            <div class="system-setting-tab" for="privacy_setting" data-key="20041">隱私設定</div>
            <div class="system-setting-tab" for="hot_key_setting" data-key="20044">熱鍵設定</div>
            <div class="system-setting-tab" for="files_management" data-key="20042">檔案管理</div>
            <div class="system-setting-tab" for="sound_reminder" data-key="50086">聲音提醒</div>
            <div class="system-setting-tab" for="game_mini_window" data-key="20219">遊戲迷你窗</div>
            <div class="system-setting-tab" for="facebook_link" data-key="50142">Facebook串連</div>
          </div>
        </div>
        <div class="system-setting-right">
          <div class="system-setting-page" data-page="basic" style="display: block;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20000">常規</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-basic-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20002">啟動RC自動登入</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20001">開機時自動啟動RC</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20003">主視窗始終在最上層顯示</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20008">禁止Windows自動調節音量（僅針對windows 7有效）</span>
                    </label>
                  </div>


                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20004">狀態</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-basic-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20005">滑鼠鍵盤無動作</span>
                      <div class="system-setting-input-border basic-status-minutes-input"><input
                          class="system-setting-input " value="123"></div>
                      <span class="system-setting-radiobox-text" data-key="20006">分鐘，狀態自動切換離開。</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20007">運行全屏遊戲（程式）時，自動切換為忙碌狀態</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="10161">頻道</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-basic-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="basic_status">
                      <span class="system-setting-radiobox-text" data-key="66167">始終使用經典模式 (適用語音、聊天)</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="basic_status">
                      <span class="system-setting-radiobox-text" data-key="66168">始終使用三欄模式 (適用秀場、直播)</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="radio" class="system-setting-radiobox" name="basic_status">
                      <span class="system-setting-radiobox-text" data-key="66169">自動選擇使用模式 (按是否開啟秀場自動選擇經典或三欄模式)</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20010">關閉主面板時</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-basic-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="basic_close_panel" checked="">
                      <span class="system-setting-radiobox-text" data-key="20011">隱藏到系統欄通知區域</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="basic_close_panel">
                      <span class="system-setting-radiobox-text" data-key="20012">退出程式</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="sound_effect" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20039">高級設定</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-sound-effect-body ">
                  <div class="system-setting-text sub" data-key="20018">語音輸出設備</div>
                  <div class="system-setting-select-box sub">
                    <div class="system-setting-input-border voice-output"><select class="system-setting-select">
                        <option data-key="31000">其他</option>
                        <option data-key="31001">遊戲</option>
                        <option data-key="31002">娛樂</option>
                      </select>
                      <div class="system-setting-select-drop-down-icon"></div>
                    </div>
                  </div>
                  <div class="system-setting-text sub" data-key="20019">語音輸入設備</div>
                  <div class="system-setting-select-box sub">
                    <div class="system-setting-input-border voice-output"><select class="system-setting-select">
                        <option data-key="31000">其他</option>
                        <option data-key="31001">遊戲</option>
                        <option data-key="31002">娛樂</option>
                      </select>
                      <div class="system-setting-select-drop-down-icon"></div>
                    </div>
                  </div>
                  <div class="system-setting-button voice-check-button sub" data-key="20127">語音檢測</div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20045">音效</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-sound-effect-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="30124">啟用混響</span>
                      <div class="system-setting-input-border "><select class="system-setting-select">
                          <option data-key="20147">禮堂</option>
                          <option data-key="20148">山洞</option>
                          <option data-key="20149">小巷</option>
                          <option data-key="20150">飛機棚</option>
                          <option data-key="20151">石階走廊</option>
                        </select>
                        <div class="system-setting-select-drop-down-icon"></div>
                      </div>
                    </label>
                    <div class="system-setting-slider-bar-box">
                      <div class="system-setting-slider-bar"></div>
                      <div class="system-setting-slider-drager" style="left: 171px;"></div>
                    </div>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="sound_effect_se">
                      <span class="system-setting-radiobox-text" data-key="20139">自動設定(根據不同場景自動設定最優音效)</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="radio" class="system-setting-radiobox" name="sound_effect_se">
                      <span class="system-setting-radiobox-text" data-key="20140">手動設定</span>
                    </label>
                    <label class="system-setting-tick-box sound-effect-manual sub">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20017">回音消除</span>
                      <span class="system-setting-radiobox-text" data-key="20046">(出現回音時使用)</span>
                    </label>
                    <label class="system-setting-tick-box sound-effect-manual sub">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="30126">麥克風降噪</span>
                      <span class="system-setting-radiobox-text" data-key="30127">(出現雜訊時使用)</span>
                    </label>
                    <label class="system-setting-tick-box sound-effect-manual sub">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="30125">麥克風放大</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20045">音效</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-sound-effect-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="50053">自訂混合電腦聲音</span>
                    </label>
                    <label class="system-setting-tick-box sound-effect-mix sub">
                      <input checked="" type="radio" class="system-setting-radiobox" name="sound_effect_mix">
                      <span class="system-setting-radiobox-text" data-key="50054">混合電腦發出的所有聲音（需要硬體驅動支持）</span>
                    </label>
                    <label class="system-setting-tick-box sound-effect-mix sub">
                      <input type="radio" class="system-setting-radiobox" name="sound_effect_mix">
                      <span class="system-setting-radiobox-text" data-key="50055">混合軟體的聲音</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="voice_setting" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20248">默認說話方式</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-voice-setting-body ">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input type="radio" class="system-setting-radiobox" name="voice_setting">
                      <span class="system-setting-radiobox-text" data-key="20015">按鍵說話</span>
                    </label>
                    <div class="system-setting-input-border voice-setting-key sub"><input class="system-setting-input"
                        value="123"></div>
                    <div class="system-setting-text voice-setting-key sub" data-key="20038">點擊鍵盤或滑鼠設定說話的按鍵</div>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="radio" class="system-setting-radiobox" name="voice_setting">
                      <span class="system-setting-radiobox-text" data-key="20014">自動感應</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box ">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="10169">進入語音頻道時自動恢復為按鍵發話</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="privacy_setting" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20020">防騷擾設定</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-privacy-setting-body">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20049">禁止任何人加我為好友</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="50176">禁止接受震動訊息</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20022">禁止別人邀請我進入群</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20021">拒絕陌生人訊息</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20023">隱私設定</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-privacy-setting-body">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20024">向好友共享我所在的群</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20249">公開我最近訪問的語音群</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20243">公開我加入的語音群</span>
                    </label>
                  </div>
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20250">公開我收藏的語音群</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="system-setting-item-wrapper">
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="20129">訊息歷史記錄</div>
                  <div class="system-setting-text-line-split"></div>
                </div>
                <div class="system-setting-privacy-setting-body">
                  <div class="system-setting-tick-contain">
                    <label class="system-setting-tick-box">
                      <input checked="" type="checkbox" class="system-setting-radiobox">
                      <span class="system-setting-radiobox-text" data-key="20025">不保存聊天訊息記錄</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="hot_key_setting" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-hot-key-setting-body">
                  <div class="system-setting-text" data-key="20031">打開主視窗</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-text" data-key="60022">螢幕截圖</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-text" data-key="20032">提升音量</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-text" data-key="20033">降低音量</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-text" data-key="20034">禁用喇叭</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-text" data-key="20035">禁用麥克風</div>
                  <div class="system-setting-input-border"><input class="system-setting-input" value="123"></div>
                  <div class="system-setting-button hot-key-reset-button" data-key="20036">恢復預設設定</div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="files_management" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">



                <div class="system-setting-files-management-body">
                  <div class="system-setting-text" data-key="20027">錄音檔案預設存放路徑</div>

                  <div class="system-setting-files-management-directory-box">
                    <div class="system-setting-input-border files-management-directory"><input
                        class="system-setting-input" value=""></div>
                    <div class="system-setting-button change-directory-button sub" data-key="20030">更換目錄</div>
                  </div>
                  <div class="system-setting-text" data-key="20215">螢幕截圖存放路徑</div>
                  <div class="system-setting-files-management-directory-box">
                    <div class="system-setting-input-border files-management-directory"><input
                        class="system-setting-input" value=""></div>
                    <div class="system-setting-button change-directory-button sub" data-key="20030">更換目錄</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="system-setting-page" data-page="sound_reminder" style="display: none;">
            <div class="system-setting-page-wrapper">
              <div class="system-setting-item-wrapper">
                <div class="system-setting-tick-contain">
                  <label class="system-setting-tick-box ">
                    <input checked="" type="checkbox" class="system-setting-radiobox">
                    <span class="system-setting-radiobox-text" data-key="50087">禁用所有音效提示</span>
                  </label>
                </div>
                <div class="system-setting-text-line-header">
                  <div class="system-setting-text-line-title" data-key="50088">聲音提醒</div>
                  <div class="system-setting-text-line-split"></div>
                </div>

                <div class="system-setting-sound-reminder-list-body disabled">
                  <div class="system-setting-text" data-key="50089">您可以設定開啟不同類型的聲音提示，點擊可以切換“狀態”</div>
                  <div class="system-setting-sound-reminder-list-wrapper">
                    <div class="system-setting-sound-reminder-list">
                      <div class="system-setting-sound-reminder-list-header">
                        <div class="system-setting-sound-reminder-list-header-th" data-key="50090">聲音類型</div>
                        <div class="system-setting-sound-reminder-list-header-th" data-key="50091">試聽</div>
                        <div class="system-setting-sound-reminder-list-header-th" data-key="50092">狀態</div>
                      </div>
                      <div class="system-setting-sound-reminder-list-box">
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50093">進入語音頻道</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50094">離開語音頻道</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50096">開始說話</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50097">停止說話</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50098">接收好友訊息</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                        <div class="system-setting-sound-reminder-list-header-td">
                          <div class="system-setting-sound-reminder-list-item" data-key="50099">接收到頻道訊息</div>
                          <div class="system-setting-sound-reminder-list-item ">
                            <div class="sound-reminder-list-playback"></div>
                          </div>
                          <div class="system-setting-sound-reminder-list-item" data-key="60027">禁用</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="system-setting-sound-reminder-directory-box">
                    <div class="system-setting-input-border sound-reminder-directory"><input
                        class="system-setting-input" value=""></div>
                    <div class="system-setting-button change-directory-button sub" data-key="20030">更換目錄</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="dialog-footer">
      <div class="confirmed" data-key="40005">保存</div>
      <div class="cancel" data-key="40001">取消</div>
    </div>
  </div>
  <script type="text/javascript" src="../js/require.js"></script>
  <script type="text/javascript" src="../js/key.js"></script>
  <script type="text/javascript" src="../js/system_setting.js"></script>
</body>

</html>