body {
  margin: 0;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  overflow: hidden;
  font-family: "SimSun", sans-serif;
}

.login-container {
  width: 100%;
  height: 99%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #858585;
  background: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #0073c6;
  -webkit-app-region: drag;
}

.header {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 16px;
  width: 100%;
  color: #fff;
}

.header:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../image/rc_logo_small.png") no-repeat center center;
  vertical-align: middle;
  background-size: contain;
}

.header span {
  margin-left: 5px;
  font-size: 13px;
}

.buttons {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-app-region: no-drag;
}

.close:hover {
  background-position: -20px 0;
}

.close:active {
  background-position: -40px 0;
}

.close {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/Button_Close.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.dialog-footer {
  padding: 10px 15px;
  background-color: #f4f4f5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #e3e3e5;
}

.hidden {
  display: none;
}

.dialog-message-wrapper {
  height: 100%;
  display: flex;
  font-family: "SimSun", sans-serif;
  flex-direction: column;
  justify-content: center;
  background: url(../image/dialog_body_bg.png) no-repeat center center;
  background-size: cover;
}

.dialog-message-contain div {
  font-size: 13px;
}

.dialog-message-contain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.dialog-msg {
  max-width: 18rem;
}

.dialog-icon {
  margin-right: 1rem;
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background-size: contain;
}

.dialog-icon-alert {
  background: url(../image/pic_alert.png) no-repeat center center;
}

.dialog-icon-alert2 {
  background: url(../image/pic_alert2.png) no-repeat center center;
}

.dialog-icon-error {
  background: url(../image/pic_error.png) no-repeat center center;
}

.dialog-icon-warning {
  background: url(../image/pic_warning.png) no-repeat center center;
}

.dialog-icon-information {
  background: url(../image/pic_information.png) no-repeat center center;
}

.dialog-icon-success {
  background: url(../image/pic_ok.png) no-repeat center center;
}

.confirmed,
.cancel,
.use {
  margin-right: 5px;
  min-width: 78px;
  text-align: center;
  font-size: 13px;
  height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #cbcccd;
  width: auto;
  border-radius: 5px;
  background: #fff;
}

.change-group-name-account-item:first-child {
  display: flex;
  justify-content: space-between;
}

.change-group-name-account-item {
  margin-left: 20px;
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.change-group-name-account-item:last-child {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.change-group-name-account-value {
  margin-left: 5px;
  color: #777777;
}

.change-group-name-input {
  flex: 1;
  padding: 3px;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 12px;
  width: auto;
  font-family: "SimSun", sans-serif;
  background: #fff;
  color: #000;
  height: 25px;
  width: 100%;
}

.change-group-name-input-border {
  display: flex;
  border: 1px solid #ddd;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  vertical-align: middle;
}

.change-group-name-account-box {
  display: flex;
}
