.server-wrapper {
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
}

.server-left-items {
  height: 100%;
  width: 280px;
  min-width: 270px;
  border-right: 2px solid #e0e0e4;
  background: #f1f2f5;
}

.server-right-items {
  height: 100%;
  width: 80%;
}

.server-info-item {
  height: 65px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #e0e0e4;
  justify-content: space-between;
}

.server-picture {
  height: 50px;
  width: 50px;
}

.server-picture-border {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 52px;
  background: url(../image/channel/server_logo_border.png) no-repeat center
    center;
  background-size: cover;
}

.server-picture-wrapper {
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}

.server-id-number {
  display: flex;
  justify-content: flex-start;
  left: 7px;
  position: relative;
}

.server-name-id-number {
  width: 120px;
  height: 52px;
  display: flex;
  right: 10px;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #515151;
}

.server-number {
  margin-left: 20px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.server-id {
  position: relative;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.server-id::before {
  content: "";
  display: block;
  background: url(../image/channel/ID.png) no-repeat center center;
  background-size: cover;
  height: 12px;
  width: 12px;
  position: relative;
  left: -5px;
}

.server-number::before {
  content: "";
  display: block;
  background: url(../image/channel/member.png) no-repeat center center;
  background-size: cover;
  height: 12px;
  width: 12px;
  position: relative;
  left: -5px;
}

.server-name {
  font-size: 13px;
}

.server-invitation {
  background: url(../image/channel/icon_invite_friend.png) no-repeat center
    center;
  background-position: 0 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.server-invitation::after {
  content: "";
  background: url(../image/channel/icon_v_split.png) no-repeat center center;
  height: 20px;
  width: 2px;
  position: absolute;
  right: 34px;
  cursor: auto;
}

.server-invitation:hover {
  background-position: -20px 0;
}

.server-invitation:active {
  background-position: -40px 0;
}

.server-operation {
  height: auto;
  width: 23%;
  display: flex;
  align-items: center;
  bottom: -15px;
  right: 5px;
  position: relative;
}

.server-settings {
  background: url(../image/channel/icon_group_option.png) no-repeat center
    center;
  background-position: 0 0;
  height: 18px;
  width: 24px;
  margin-left: 14px;
  cursor: pointer;
}

.server-settings:hover {
  background-position: -24px 0;
}

.server-settings:active {
  background-position: -48px 0;
}

.server-channel-items {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.server-channel-top {
  height: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.server-channel-network-status {
  background: url(../image/channel/NetworkStatus.png) no-repeat center center;
  height: 20px;
  width: 20px;
  background-position: 0 0;
  margin-left: 8px;
}

.network-status-1 {
  background-position: -20px 0;
}

.network-status-2 {
  background-position: -40px 0;
}

.network-status-3 {
  background-position: -80px 0;
}

.server-channel-current-name {
  margin-left: 3px;
  color: #555555;
  font-size: 15px;
}

.server-channel-name {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  height: 23px;
  padding: 2px;
  border-radius: 5px;
  max-width: 245px;
  align-content: center;
}

.server-channel-user:hover,
.server-channel-name:hover {
  background-color: #d1d5da5c;
}

.server-channel-name::before {
  content: "";
  display: inline-block;
  background: url(../image/channel/channelIcon.png) no-repeat center center;
  background-size: auto;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-position: 0 0;
  margin-left: 5px;
}

.server-channel-name.main::before {
  background-position: -56px 0;
}

.server-channel-name.locked::before {
  background-position: -28px 0;
}

.server-channel-name.read::before {
  background-position: -42px 0;
}

.server-channel-name.on::before {
  background-position: 0 0;
}

.server-channel-name.on:hover::before {
  background-position: 0 -14px;
}

.server-channel-name.off::before {
  background-position: -14px 0;
}

.server-channel-name.off:hover::before {
  background-position: -14px -14px;
}

.mic-mode .server-channel-bottom {
  max-height: calc(100vh - 320px);
}

.server-channel-bottom {
  flex: 1;
  max-height: calc(100vh - 180px);
  overflow-x: hidden;
  overflow-y: auto;
}

.server-channel-number {
  font-size: 12px;
  color: #696969;
  margin-left: 5px;
  margin-top: 2px;
}

.mic-mode .server-channel-mic-queue {
  display: block;
}

.server-channel-mic-queue {
  height: 120px;
  display: none;
}

.server-channel-mode {
  font-size: 13px;
  color: #a8a8a8;
  margin-left: 8px;
  margin-bottom: 3px;
}

.server-channel-mic-queue-users {
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 90px;
}

.server-channel-user-state {
  background: url(../image/channel/mic_queue_state.png) no-repeat center center;
  height: 12px;
  width: 12px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-user {
  width: 95%;
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;
  padding: 3px;
  border-radius: 2px;
}

.server-channel-bottom .server-channel-user {
  margin-left: 15px;
  width: 88%;
  border-radius: 5px;
}

.play .server-channel-user-state {
  background-position: 0 0;
}

.unplay .server-channel-user-state {
  background-position: -12px 0;
}

.muted .server-channel-user-state {
  background-position: -24px 0;
}

.server-channel-user-role {
  height: 15px;
  width: 15px;
  margin-right: 2px;
}

.member-icon-male {
  background: url(../image/channel/UserIconsMale.png) no-repeat center center;
  background-position: 0 0;
}

.member-icon-female {
  background: url(../image/channel/UserIconsFemale.png) no-repeat center center;
  background-position: 0 0;
}

.member-icon-guest {
  background-position: 0px 0;
}

.member-icon-member {
  background-position: -14px 0;
}

.member-icon-sub-channel-manager {
  background-position: -28px 0;
}

.member-icon-channel-server-manager {
  background-position: -42px 0;
}

.member-icon-channel-manager {
  background-position: -56px 0;
}

.member-icon-channel-owner {
  background-position: -70px 0;
}

.member-icon-customer-service {
  background-position: -84px 0;
}

.member-icon-super-manager {
  background-position: -98px 0;
}

.server-channel-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.server-channel-user-name {
  font-size: 14px;
  color: #777777;
}

.server-channel-mic-queue-time {
  height: 85%;
  width: auto;
  font-size: 13px;
  background: #fffed3;
  border: 1px solid #f9ce7d;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  color: #777777;
  margin-left: auto;
}

.server-channel-mic-queue:after {
  content: "";
  background: url(../image/channel/chn_tree_split.png) no-repeat center center;
  height: 6px;
  width: auto;
  display: block;
}

.server-channel-bottom-buttons {
  height: 35px;
  background: #edeff1;
  display: flex;
  width: 100%;
}

.server-channel-bottom-tabs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.server-channel-bottom-buttons:before {
  content: "";
  background: url(../image/channel/spliter_SpecialMenu.png) no-repeat center
    center;
  height: 1px;
  width: 280px;
  display: block;
  position: absolute;
}

.server-channel-tab-location.active .server-channel-tab-location-icon {
  background-position: -18px 0;
}

.server-channel-tab-current-location,
.server-channel-tab-all-channel {
  font-size: 14px;
  width: auto;
  display: flex;
  margin-right: 12px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  font-size: 13px;
}

.server-channel-tab-current-location:hover::before,
.server-channel-tab-all-channel:hover::before,
.server-channel-tab-current-location.active::before,
.server-channel-tab-all-channel.active::before {
  background-position: -36px 0 !important;
}

.server-channel-tab-current-location.active,
.server-channel-tab-all-channel.active {
  border-top: 2px solid #c2c3c7;
}

.server-channel-tab-all-channel::before {
  content: "";
  background: url(../image/channel/rdb_all_channel.png) no-repeat center center;
  height: 16px;
  width: 16px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-tab-current-location::before {
  content: "";
  background: url(../image/channel/rdb_cur_channel.png) no-repeat center center;
  height: 16px;
  width: 16px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-bottom-first-level {
  background: url(../image/channel/icon_mode_channel_firstlevel.png) no-repeat
    center center;
  height: 13px;
  width: 12px;
  background-position: 0 0;
  right: 45px;
  position: relative;
  bottom: -10px;
  cursor: pointer;
}

.server-channel-bottom-first-level:hover {
  background-position: -12px 0;
}

.server-channel-bottom-search {
  background: url(../image/icon_search.png) no-repeat center center;
  height: 15px;
  width: 15px;
  background-position: 0 0;
  right: 5px;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.server-channel-bottom-search:hover {
  background-position: -16px 0;
}

.server-channel-bottom-search:active {
  background-position: -32px 0;
}
