.server-wrapper {
  height: 100%;
  display: flex !important;
  flex-direction: row !important;
}

.server-left-items {
  height: 100%;
  width: 20%;
  min-width: 270px;
  border-right: 2px solid #e0e0e4;
  background: #f1f2f5;
}

.server-right-items {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.server-info-item {
  height: 65px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid #e0e0e4;
  justify-content: flex-start;
}

.server-picture {
  height: 50px;
  width: 50px;
  background: url(../image/logo_server_def.png);
  background-size: cover;
}

.server-picture-border {
  position: absolute;
  z-index: 2;
  width: 50px;
  height: 52px;
  background: url(../image/channel/server_logo_border.png) no-repeat center
    center;
  background-size: cover;
}

.server-picture-wrapper {
  width: auto;
  margin-left: 10px;
  cursor: pointer;
}

.server-id-number {
  display: flex;
  justify-content: flex-start;
  left: 7px;
  position: relative;
}

.server-name-id-number {
  width: 120px;
  height: 52px;
  display: flex;
  right: 10px;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  color: #515151;
  margin-left: 15px;
}

.server-number {
  margin-left: 20px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.server-id {
  position: relative;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}

.server-id::before {
  content: "";
  display: block;
  background: url(../image/channel/ID.png) no-repeat center center;
  background-size: cover;
  height: 12px;
  width: 12px;
  position: relative;
  left: -5px;
}

.server-number::before {
  content: "";
  display: block;
  background: url(../image/channel/member.png) no-repeat center center;
  background-size: cover;
  height: 12px;
  width: 12px;
  position: relative;
  left: -5px;
}

.server-name {
  font-size: 13px;
}

.server-invitation {
  background: url(../image/channel/icon_invite_friend.png) no-repeat center
    center;
  background-position: 0 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.server-invitation::after {
  content: "";
  background: url(../image/channel/icon_v_split.png) no-repeat center center;
  height: 20px;
  width: 2px;
  cursor: auto;
  display: block;
  margin-left: 27px;
}

.server-invitation:hover {
  background-position: -20px 0;
}

.server-invitation:active {
  background-position: -40px 0;
}

.server-operation {
  bottom: -15px;
  right: 5px;
  height: auto;
  width: 23%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin-left: auto;
}

.server-operation {
  height: auto;
  width: 23%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  margin-left: auto;
}

.server-settings {
  background: url(../image/channel/icon_group_option.png) no-repeat center
    center;
  background-position: 0 0;
  height: 18px;
  width: 24px;
  margin-left: 14px;
  cursor: pointer;
}

.server-settings:hover:not(:has(.server-settings-context-menu:hover)) {
  background-position: -24px 0;
}

.server-settings:active:not(:has(.server-settings-context-menu:active)) {
  background-position: -48px 0;
}

.server-channel-items {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.server-channel-top {
  height: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-shrink: 0;
}

.server-channel-network-status {
  background: url(../image/channel/NetworkStatus.png) no-repeat center center;
  height: 20px;
  width: 20px;
  background-position: 0 0;
  margin-left: 8px;
}

.network-status-1 {
  background-position: -20px 0;
}

.network-status-2 {
  background-position: -40px 0;
}

.network-status-3 {
  background-position: -80px 0;
}

.server-channel-current-name {
  margin-left: 3px;
  color: #555555;
  font-size: 15px;
}

.server-channel-name {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  height: 23px;
  padding: 2px;
  border-radius: 5px;
  max-width: 245px;
  align-content: center;
}

.server-channel-user:hover,
.server-channel-name:hover {
  background-color: #d1d5da5c;
}

.server-channel-name::before {
  content: "";
  display: inline-block;
  background: url(../image/channel/channelIcon.png) no-repeat center center;
  background-size: auto;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-position: 0 0;
  margin-left: 5px;
}

.server-channel-name.main::before {
  background-position: -56px 0;
}

.server-channel-name.locked::before {
  background-position: -28px 0;
}

.server-channel-name.read::before {
  background-position: -42px 0;
}

.server-channel-name.on::before {
  background-position: 0 0;
}

.server-channel-name.on:hover::before {
  background-position: 0 -14px;
}

.server-channel-name.off::before {
  background-position: -14px 0;
}

.server-channel-name.off:hover::before {
  background-position: -14px -14px;
}

.mic-mode .server-channel-bottom {
  max-height: calc(100vh - 320px);
  margin-bottom: 2px;
}

.server-channel-bottom {
  flex: 1;
  max-height: calc(100vh - 197px);
  overflow-x: hidden;
  overflow-y: auto;
}

.server-channel-number {
  font-size: 12px;
  color: #696969;
  margin-left: 5px;
  margin-top: 2px;
}

.mic-mode .server-channel-mic-queue {
  display: block;
}

.server-channel-mic-queue {
  height: 120px;
  display: none;
}

.server-channel-mode {
  font-size: 13px;
  color: #a8a8a8;
  margin-left: 8px;
  margin-bottom: 3px;
}

.server-channel-mic-queue-users {
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 90px;
  margin-left: 5px;
}

.server-channel-user-state {
  background: url(../image/channel/mic_queue_state.png) no-repeat center center;
  height: 12px;
  width: 12px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-user {
  width: 95%;
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;
  padding: 3px;
  border-radius: 2px;
}

.server-channel-bottom .server-channel-user {
  margin-left: 10px;
  width: 88%;
  border-radius: 5px;
}

.play .server-channel-user-state {
  background-position: 0 0;
}

.unplay .server-channel-user-state {
  background-position: -12px 0;
}

.muted .server-channel-user-state {
  background-position: -24px 0;
}

.server-channel-user-role {
  height: 15px;
  width: 15px;
  margin-right: 2px;
}

.server-channel-user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.server-channel-user-name {
  font-size: 14px;
  color: #777777;
  margin-right: 5px;
}

.server-channel-user-name.set-channel-name {
  color: #6e849b;
}

.server-channel-mic-queue-time {
  height: 85%;
  width: auto;
  font-size: 13px;
  background: #fffed3;
  border: 1px solid #f9ce7d;
  border-radius: 3px;
  padding-right: 3px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  color: #777777;
  margin-left: auto;
}

.server-channel-mic-queue:after {
  content: "";
  background: url(../image/channel/chn_tree_split.png) no-repeat center center;
  height: 6px;
  width: auto;
  display: block;
}

.server-channel-bottom-buttons {
  height: 35px;
  background: #edeff1;
  display: flex;
  width: 100%;
}

.server-channel-bottom-tabs {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.server-channel-bottom-buttons:before {
  content: "";
  background: url(../image/channel/spliter_SpecialMenu.png) no-repeat center
    center;
  height: 1px;
  width: 280px;
  display: block;
  position: absolute;
}

.server-channel-tab-location.active .server-channel-tab-location-icon {
  background-position: -18px 0;
}

.server-channel-tab-current-location,
.server-channel-tab-all-channel {
  width: auto;
  display: flex;
  margin-right: 12px;
  cursor: pointer;
  height: 100%;
  align-items: center;
  font-size: 13px;
}

.server-channel-tab-current-location:hover::before,
.server-channel-tab-all-channel:hover::before,
.server-channel-tab-current-location.active::before,
.server-channel-tab-all-channel.active::before {
  background-position: -36px 0 !important;
}

.server-channel-tab-current-location.active,
.server-channel-tab-all-channel.active {
  border-top: 2px solid #c2c3c7;
}

.server-channel-tab-all-channel::before {
  content: "";
  background: url(../image/channel/rdb_all_channel.png) no-repeat center center;
  height: 16px;
  width: 16px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-tab-current-location::before {
  content: "";
  background: url(../image/channel/rdb_cur_channel.png) no-repeat center center;
  height: 16px;
  width: 16px;
  background-position: 0 0;
  margin-right: 5px;
}

.server-channel-bottom-first-level {
  background: url(../image/channel/icon_mode_channel_firstlevel.png) no-repeat
    center center;
  height: 13px;
  width: 12px;
  background-position: 0 0;
  right: 45px;
  position: relative;
  bottom: -10px;
  cursor: pointer;
}

.server-channel-bottom-first-level:hover {
  background-position: -12px 0;
}

.server-channel-bottom-search {
  background: url(../image/icon_search.png) no-repeat center center;
  height: 15px;
  width: 15px;
  background-position: 0 0;
  right: 5px;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.server-channel-bottom-search:hover {
  background-position: -16px 0;
}

.server-channel-bottom-search:active {
  background-position: -32px 0;
}

.server-notice-area {
  height: 30%;
  border-bottom: 1px solid #e0e0e4;
  overflow: auto;
}

.server-mic-area {
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 60px;
  max-height: 90px;
  background: url(../image/channel/chn_toolbar_bg.png) no-repeat center center;
  background-size: 100% 100%;
  z-index: 10;
  background-color: #dddddf;
  padding-bottom: 35px;
}

.server-mic-menu {
  width: 154px;
  height: 50px;
  background: url(../image/channel/mic_state_menu.png) no-repeat center center;
  background-size: auto;
  background-position: 0px 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  left: 38%;
  position: relative;
  justify-content: center;
}

.server-mic-menu:hover {
  background-position: -154px 2px;
}

.server-mic-menu:active {
  background-position: -308px 2px;
}

.server-mic-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.server-mic-text {
  margin-left: 5px;
  width: auto;
  font-size: 18px;
  max-width: 107px;
  color: #28a0da;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

.server-mic-bkg {
  background: url(../image/channel/music_bkg.png) no-repeat center center;
  height: 18px;
  width: 18px;
  background-position: 0 0;
}

.server-mic-bkg-mode {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.server-mic-bkg-text {
  margin-left: 5px;
  font-size: 13px;
  color: #777777;
}

.server-mic-bkg-mode:after {
  content: "";
  background: url(../image/channel/icon_v_split.png) no-repeat center center;
  height: 20px;
  width: 2px;
  cursor: auto;
  display: block;
  margin-left: 8px;
}

.server-mic-right {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-mic-m-mode {
  background: url(../image/channel/Mic.png) no-repeat center center;
  height: 18px;
  width: 18px;
  background-position: 0 0;
  cursor: pointer;
  margin-right: 20px;
}

.server-mic-m-mode:hover:after {
  background-position: -9px 0;
}

.server-mic-m-mode:active:after {
  background-position: -18px 0;
}

.server-mic-m-mode:after {
  content: "";
  background: url(../image/channel/triangle.png) no-repeat center center;
  height: 8px;
  width: 8px;
  background-position: 0 0;
  display: block;
  margin-left: 18px;
  margin-top: 5px;
}

.server-mic-speaker-mode {
  background: url(../image/channel/speaker.png) no-repeat center center;
  height: 18px;
  width: 18px;
  background-position: 0 0;
  cursor: pointer;
  margin-right: 20px;
}

.server-mic-recorder-mode {
  background: url(../image/channel/recorder.png) no-repeat center center;
  height: 18px;
  width: 18px;
  background-position: 0 0;
  cursor: pointer;
  margin-right: 20px;
}

.server-mic-recorder-mode.recoding {
  background-position: -18px 0;
}

.server-mic-menu.queuing {
  background: url(../image/channel/mic_state_queuing.png) no-repeat center
    center;
  background-position: 0px 2px;
}

.server-mic-menu.queuing.click {
  background-position: -154px 2px;
}

.server-mic-menu.queuing.unclick {
  background-position: -308px 2px;
}

.server-mic-menu.speaking {
  background: url(../image/channel/mic_state_speaking.png) no-repeat center
    center;
  background-position: 0 2px;
}

.server-mic-menu.speaking.click {
  background-position: -154px 2px;
}

.server-mic-menu.speaking.unclick {
  background-position: -308px 2px;
}

.server-mic-icon {
  width: 26px;
  height: 30px;
  background: url(../image/channel/icon_mic_state.png) no-repeat center center;
  background-size: cover;
}

.server-mic-menu.speaking .server-mic-icon {
  background: url(../image/channel/icon_speaking_vol.png) no-repeat center
    center;
  background-position: 0 0;
  background-size: cover;
}

.server-mic-menu.speaking.voice-1 .server-mic-icon {
  background-position: -24px 0;
}

.server-mic-menu.speaking.voice-2 .server-mic-icon {
  background-position: -48px 0;
}

.server-mic-menu.speaking.voice-3 .server-mic-icon {
  background-position: -72px 0;
}

.server-mic-menu.speaking.voice-4 .server-mic-icon {
  background-position: -96px 0;
}

.server-mic-menu.speaking.voice-5 .server-mic-icon {
  background-position: -120px 0;
}

.server-mic-menu.speaking.voice-6 .server-mic-icon {
  background-position: -144px 0;
}

.server-mic-menu.speaking.voice-7 .server-mic-icon {
  background-position: -168px 0;
}

.server-mic-menu.speaking.voice-8 .server-mic-icon {
  background-position: -192px 0;
}

.server-mic-menu.speaking.voice-9 .server-mic-icon {
  background-position: -216px 0;
}

.server-chat-input {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 95px;
}

.server-chat-input-border {
  width: 100%;
  height: 50px;
  border: 1px solid #e0e0e1;
  border-radius: 5px;
  margin: 8px;
  display: flex;
  transition: border-color 0.3s ease;
  background: #fbfbfb;
}

.server-chat-input-border:focus-within {
  border-color: #a1a1a1;
}

.server-chat-textarea {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: transparent;
  padding: 8px;
  resize: none;
  height: auto;
  overflow: auto;
  font-size: 15px;
  margin: 5px;
  padding-top: 0;
}

.server-chat-emoji {
  width: 18px;
  height: 18px;
  background: url(../image/channel/FaceButton.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
  position: relative;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

.server-chat-emoji:hover {
  background-position: -18px 0;
}

.server-chat-emoji:active {
  background-position: -36px 0;
}

.server-chat-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  min-height: calc(100vh - 320px);
}
.server-chat-text div {
  margin: 5px;
}
.server-chat-system-msg {
  font-size: 13px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.server-chat-system-msg.msg-icon:before {
  content: "";
  background-size: cover;
  height: 12px;
  width: 12px;
  display: block;
  margin-right: 5px;
}

.server-chat-system-msg.msg-nt-notify:before {
  background: url(../image/NT_NOTIFY.png) no-repeat center center;
}

.server-chat-system-msg.msg-nt-warning:before {
  background: url(../image/NT_WARNING.png) no-repeat center center;
}

.server-chat-system-msg.msg-nt-announcement:before {
  background: url(../image/NT_ANNOUNCEMENT.png) no-repeat center center;
}

.server-user-operate-context-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  width: 125px;
  text-align: center;
}

.server-user-operate-context-menu ul {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

.server-user-operate-context-menu ul li {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-user-operate-context-menu ul li:hover,
.server-settings-context-menu ul li:hover {
  background-color: #d1d5da5c;
}

.server-settings-context-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  width: 125px;
  text-align: center;
  top: 22px;
  left: 30px;
  display: none;
}

.server-settings-context-menu ul {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

.server-settings-context-menu ul li {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
}

.server-settings-context-menu li:before {
  content: "";
  width: 20px;
  height: 16px;
  background-size: cover;
  display: block;
  margin-right: 3px;
}

.split {
  background: url(../image/channel/spliter_SpecialMenu.png) no-repeat center
    center;
  width: 100%;
  height: 1px;
  background-size: contain;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: auto;
}

li[data-key="10057"]:before {
  background: url(../image/icon_memberapply.png) no-repeat center center;
}

li[data-key="30314"]:before {
  background: url(../image/icon_groupchat.png) no-repeat center center;
}

li[data-key="30394"]:before {
  background: url(../image/channelOption_Mgr.png) no-repeat center center;
}

li[data-key="30292"]:before {
  background: url(../image/icon_editGroupcard.png) no-repeat center center;
}

li[data-key="30393"]:before {
  background: url(../image/icon_locateme.png) no-repeat center center;
}

li[data-key="50149"]:before {
  background: url(../image/icon_report.png) no-repeat center center;
}

li[data-key="30064"]:before {
  background: url(../image/icon_uncollect.png) no-repeat center center;
}

li[data-key="30065"]:before {
  background: url(../image/icon_collect.png) no-repeat center center;
}

li:has(span[data-key="30162"]):after {
  background-image: url(../image/ctrl/icon_submenu.png);
  width: 16px;
  height: 10px;
  transform: rotate(0deg);
  display: block;
}

li:has([data-key="30162"]):after {
  content: "";
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
}

li:has([data-key="30162"]):hover .server-user-operate-sub-menu {
  display: block;
}

.server-user-operate-sub-menu {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  width: 125px;
  text-align: center;
  left: 125px;
  bottom: 0;
  display: none;
}
