@import url(./window.css);

body {
  margin: 0;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow: hidden;
  font-family: "SimSun", sans-serif;
  width: 100vw;
  height: 99.7vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #6d6d6d0f;
  border-radius: 4px;
  border: 1px solid #6d6d6d26;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d6d6d38;
}

.lobby-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #858585;
  background: #ffffff00;
  margin-top: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
  background-color: #0073c6;
}

.header {
  height: 40px;
  display: flex;
  padding: 0 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding-right: 0;
  align-items: center;
  justify-content: space-between;
}

#MainTab,
.user-profile-box,
.buttons {
  -webkit-app-region: no-drag;
}

.header:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../image/rc_logo_small.png") no-repeat center center;
  vertical-align: middle;
  background-size: contain;
}

.buttons {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gift {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../image/gift.png) no-repeat center center;
  background-position: 0px 0;
  cursor: pointer;
  background-size: cover;
}

.game {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../image/game.png) no-repeat center center;
  background-position: 0px 0;
  cursor: pointer;
  background-size: cover;
}

.notice {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../image/icon_notice.png) no-repeat center center;
  background-position: 0px 0;
  cursor: pointer;
  background-size: cover;
}

.overlay {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../image/icon_notice_overlay.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.overlay.new {
  background-position: -24px 0px;
}

.notice:hover,
.game:hover,
.gift:hover {
  background-position: -28px 0;
}

.notice:hover {
  background-position: -24px 0;
}

.notice:active,
.game:active,
.gift:active {
  background-position: -56px 0;
}

.notice:active {
  background-position: -48px 0;
}

.spliter {
  display: inline-block;
  width: 2px;
  height: 19px;
  background: url(../image/mf_spliter.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.menu {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../image/BtnMenu.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
  background-size: cover;
}

.menu-drop-down {
  position: absolute;
  top: 2.3rem;
  width: auto;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  right: 1.5rem;
  padding: 3px;
  height: 17rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-option {
  font-size: 13px;
  color: #333;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 7px;
}

.menu-option:before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 10px;
}

.menu-option[data-type="system-setting"]:before {
  background-image: url(../image/set.png);
}

.menu-option[data-type="message-history"]:before {
  background-image: url(../image/message.png);
}

.menu-option[data-type="change-theme"]:before {
  background-image: url(../image/skin.png);
}

.menu-option[data-type="exit"]:before {
  background-image: url(../image/exit.png);
}

.menu-option[data-type="language-select"]:before {
  background-image: url(../image/ctrl/icon_submenu.png);
  width: 16px;
  height: 10px;
  transform: rotate(180deg);
}

.menu-option {
  padding: 10px;
  cursor: pointer;
  position: relative;
  width: auto;
}

.menu-option:hover {
  background: #eee;
}

.menu-option.has-submenu .submenu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-option.has-submenu {
  position: relative;
}

.menu-option.has-submenu:hover .submenu {
  display: block;
}

.submenu-option {
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.submenu-option:hover {
  background: #eee;
}

.submenu-option.selected:before {
  width: 13px;
  height: 13px;
  background: url(../image/user_state.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.login-footer {
  padding: 10px 15px;
  background-color: #f4f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e3e3e5;
}

.login-footer a {
  text-decoration: none;
  font-size: 12px;
  color: #838383;
  display: flex;
  align-items: flex-end;
}

.login-footer a:hover {
  color: #0073c6;
}

.create-account:before,
.forget-password:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

.forget-password:before {
  background: url("../image/icon_getpass.png") no-repeat center center;
  background-size: contain;
}

.create-account:before {
  background: url("../image/icon_createaccount.png") no-repeat center center;
  background-size: contain;
}

.hidden {
  display: none;
}

.user-profile-box {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 2.5rem;
}

.display-name {
  color: #000;
  text-shadow: 0px 0px 4px #ffffff99;
  font-size: 12px;
  line-height: 16px;
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  padding: 3px;
}

.display-name:hover {
  color: #222222;
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff1f;
  border-radius: 3px;
}

.display-name:active {
  color: #222222;
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff36;
}

.state-triangle {
  margin-left: 5px;
}

.state-triangle:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 13px;
  background: url(../image/state_triangle.png) no-repeat center center;
  background-size: auto;
  background-position: 0px 4px;
}

.online-state-box:hover:not(:has(.state-drop-down:hover))
  .state-triangle:before {
  background-position: -9px 4px;
}

.online-state-box:active:not(:has(.state-drop-down:active))
  .state-triangle:before {
  background-position: -18px 4px;
}

.online-state-box {
  display: flex;
  padding: 2px;
}

.online-state-box:hover:not(:has(.state-drop-down:hover)) {
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff1f;
  border-radius: 3px;
}

.online-state-box:active:not(:has(.state-drop-down:active)) {
  text-shadow: 0px 0px 4px #ffffff;
  background: #ffffff36;
}

.online-state:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../image/user_state.png") no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.online-state.busy:before {
  background-position: -13px 0 !important;
}

.online-state.away:before {
  background-position: -26px 0 !important;
}

.online-state.in-game:before {
  background-position: -39px 0 !important;
}

.state-drop-down {
  position: absolute;
  top: 1.4rem;
  width: 12%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  left: 8rem;
  padding: 3px;
  height: 4.9rem;
  display: none;
}

.state-drop-down.visible {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.state-option {
  font-size: 14px;
  color: #333;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 13px;
  height: 13px;
  padding: 3;
}

.state-option:hover {
  background-color: #0073c6;
  color: #fff;
}

.state-option:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../image/user_state.png) no-repeat center center;
  background-size: auto;
}

.state-option[data-state="online"]:before {
  background-position: 0 0;
}

.state-option[data-state="busy"]:before {
  background-position: -13px 0;
}

.state-option[data-state="away"]:before {
  background-position: -26px 0;
}

.state-option[data-state="in-game"]:before {
  background-position: -39px 0;
}

#MainTab {
  display: flex;
  cursor: pointer;
  height: auto;
  -webkit-app-region: no-drag;
  max-width: 450px;
  align-items: flex-end;
  justify-content: center;
  left: 6rem;
  top: 7px;
  position: relative;
  width: 100%;
}

.tab-item.selected {
  position: relative;
  background-color: #ffffff;
  padding: 0 0;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.tab-item.selected::before {
  left: -4px;
  top: 1px;
}

.tab-item.selected::after {
  right: -3px;
  top: 1px;
}

.tab-item::before,
.tab-item::after {
  background: url(../image/tab_item_mainframe.png) no-repeat center center;
  background-size: cover;
}
.tab-item::before {
  background-position: 0 -30px;
}

.tab-item::after {
  background-position: -10px -30px;
}

.tab-item.selected::before,
.tab-item.selected::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 10px;
  height: 60px;
  border-radius: 100%;
}

.tab-item {
  background-size: auto;
  background-position: 0 0;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 35px;
  justify-content: flex-start;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 5px;
  min-width: 120px;
  width: auto;
}

.selected .tab-bg {
  font-family: Arial;
  font-size: 15px;
  color: rgb(55, 144, 206);
  text-align: center;
  padding: 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  position: relative;
  width: 95px;
  height: 20px;
}

div[data-tab="server"] .tab-bg:after {
  background: url(../image/user_state.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.selected .tab-item-text {
  color: rgb(0 115 198);
}

.tab-bg {
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  padding: 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  position: relative;
  width: 80px;
  height: 17px;
}

.tab-item-text {
  z-index: 999;
  color: rgb(255 255 255);
  position: relative;
  flex: 1;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  padding-top: 0;
}

.wrappers {
  background: #fff;
  height: 100%;
  width: 100%;
}

.groups-my-wrapper {
  height: 100%;
  width: 100%;
  background: #f4f6fa;
}

.groups-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 4px 8px 4px 8px;
  border-bottom: 2px solid #ddd;
}

.groups-nav-left {
  display: flex;
  align-items: center;
  width: auto;
}

.groups-back-btn {
  background: url(../image/icon_left_arrow.png) no-repeat center center;
  height: 15px;
  width: 15px;
  background-position: 0 0;
}

.groups-forward-btn {
  background: url(../image/icon_right_arrow.png) no-repeat center center;
  height: 15px;
  width: 15px;
  background-position: 0 0;
}

.groups-back-btn:hover,
.groups-forward-btn:hover {
  background-position: -16px 0;
}

.groups-search-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ffffff;
  outline: none;
  font-size: 12px;
  width: auto;
}

.groups-back-btn,
.groups-forward-btn {
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
}

.search-box {
  padding: 5px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.groups-nav-center,
.groups-nav-right {
  width: auto;
  display: flex;
}

.groups-nav-item:hover {
  background-color: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.groups-wrapper {
  flex-direction: column;
  display: none;
  height: 100%;
}

.groups-search-bar {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ddd;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  border-radius: 5px;
}

.groups-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px;
  position: relative;
  background: none;
  cursor: pointer;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #ffffff00;
  width: auto;
  margin-right: 15px;
}

.groups-nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #666;
}

.groups-my {
  display: flex;
  justify-content: center;
  overflow: auto;
  max-height: calc(100vh - 135px);
  padding: 25px;
}

.groups-my-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.groups-my-items {
  height: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-height: 195px;
  min-width: 790px;
}

.groups-my-last-box:not(:last-child) .groups-my-items {
  margin-bottom: 62px;
}

.groups-my-item-picture {
  width: auto;
  height: 70px;
  background: url(../image/im/IMLogo.png) no-repeat center center;
  background-size: cover;
  background-position: 0 0;
  min-width: 70px;
}

.groups-my-item {
  border: 1px solid #e0e0e4;
  padding: 12px;
  width: 230px;
  display: flex;
  padding-bottom: 10;
  padding-top: 10;
  height: 70px;
  cursor: pointer;
  background: #fff;
}

.groups-my-item-name {
  color: #10469e;
  font-size: 14px;
}

.groups-my-item-right {
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  width: 100%;
}

.groups-my-title {
  font-weight: bold;
  font-size: 20px;
}

.groups-my-item-id-box {
  display: flex;
  font-size: 13px;
  margin-top: 8px;
  color: #777777;
}

.groups-my-item-id-box.groups-my-item-owner .groups-my-item-id-title:before {
  content: "";
  width: 13px;
  height: 15px;
  background: url(../image/icon_creator.png) no-repeat center center;
  background-size: cover;
  background-position: 0 0;
  display: block;
  margin-right: 2px;
}

.groups-my-item-id-title {
  display: flex;
  align-items: flex-start;
}

.direction {
  display: flex !important;
  flex-direction: column;
}

.widget {
  background: #f4f6fa;
  padding: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 230px);
  padding-bottom: 0rem;
  max-width: 253px;
  min-width: 253px;
  border: 1px solid #858585;
  border-top: unset;
  border-left: unset;
  border-bottom: unset;
  border-right: 2px solid #e0e0e4;
  border-bottom-left-radius: 5px;
}

.groups-nav-item[data-key="60060"]:before {
  content: "";
  background: url(../image/icon_home_page.png) no-repeat center center;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.groups-nav-item[data-key="40007"]:before {
  content: "";
  background: url(../image/icon_game.png) no-repeat center center;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.groups-nav-item[data-key="30375"]:before {
  content: "";
  background: url(../image/icon_amusement.png) no-repeat center center;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.groups-nav-item[data-key="30014"]:before {
  content: "";
  background: url(../image/icon_create.png) no-repeat center center;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.groups-nav-item[data-key="60004"]:before {
  content: "";
  background: url(../image/icon_person.png) no-repeat center center;
  background-position: 0 0;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.tab-close {
  width: 13px;
  height: 13px;
  background: url(../image/ctrl/tabitem_button.png) no-repeat center center;
  background-position: -13px 0;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  right: 3px;
  transform: translateY(-25%);
  cursor: pointer;
  z-index: 1;
}

.selected .tab-close {
  background-position: 0 0;
}

.selected .tab-close:hover {
  background-position: -13px 0;
}

.selected .tab-close:active {
  background-position: -26px 0;
}

.join-group-loading-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
}

.join-group-loading-box {
  flex-direction: column;
  pointer-events: auto;
  width: 300px;
  height: 100px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid #d3d8db;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
}

.join-group-loading-gif {
  background: url(../image/icon_loading.gif) no-repeat center center;
  background-position: 0 0;
  width: 256px;
  height: 12px;
  background-size: contain;
  margin-top: 15px;
}

.join-group-loading-close {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 18px;
  height: 18px;
  background: url(../image/loading_close.png) no-repeat center center;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-position: 0 0;
}

.join-group-loading-close:hover {
  background-position: -18px 0;
}

.join-group-loading-close:active {
  background-position: -36px 0;
}

.join-group-loading-title-contain {
  display: flex;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.join-group-loading-group-id {
  margin-left: 3p;
  margin-left: 5px;
}
