.theme-1 {
  background: url(../image/skin/57KJ57SF5Zue5oa2.jpg) no-repeat center center;
  background-color: #f6e6d7;
  background-position: 0 0px;
  background-size: auto;
}

.theme-2 {
  background: url(../image/skin/57SU55yf56ul5bm0.jpg) no-repeat center center;
  background-color: #1b71ac;
  background-position: 0 0px;
  background-size: auto;
}

.theme-3 {
  background: url(../image/skin/5Y+v5oSb6LKT5ZKq.jpg) no-repeat center center;
  background-color: #efd1ab;
  background-position: 0 0px;
  background-size: auto;
}

.theme-4 {
  background: url(../image/skin/6YKj5LiA5bm0.jpg) no-repeat center center;
  background-color: #d4be99;
  background-position: 0 0px;
  background-size: auto;
}

.theme-5 {
  background: url(../image/skin/img_greenmood.jpg) no-repeat center center;
  background-color: #89c68b;
  background-position: 0 0px;
  background-size: auto;
}

.theme-6 {
  background: url(../image/skin/img_sunflower.jpg) no-repeat center center;
  background-color: #edd569;
  background-position: 0 0px;
  background-size: auto;
}

.theme-7 {
  background: url(../image/skin/img_sunset.jpg) no-repeat center center;
  background-color: #7464ad;
  background-position: 0 0px;
  background-size: auto;
}

.theme-8 {
  background: url(../image/skin/img_colddrink.jpg) no-repeat center center;
  background-color: #e3908f;
  background-position: 0 0px;
  background-size: auto;
}

.theme-9 {
  background: url(../image/skin/img_pebble.jpg) no-repeat center center;
  background-color: #a4cfd5;
  background-position: 0 0px;
  background-size: auto;
}

.theme-10 {
  background: url(../image/skin/img_love.jpg) no-repeat center center;
  background-color: #aa7a52;
  background-position: 0 0px;
  background-size: cover;
}

.theme-11 {
  background: url(../image/skin/img_hamburger.jpg) no-repeat center center;
  background-color: #591234;
  background-position: 0 0px;
  background-size: auto;
}

.theme-12 {
  background: url(../image/skin/img_coastline.jpg) no-repeat center center;
  background-color: #313131;
  background-position: 0 0px;
  background-size: cover;
}
