.friends-wrapper {
  height: 100vh;
  background: #fff;
  display: none;
}

.friends-main {
  display: flex;
  flex: 1;
}
.friends-group-user-pic {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  background: url(../../image/im/IMUserSmallIconSet.png) no-repeat center center;
  background-size: auto;
  background-position: 0px 0px;
}

.friends-group-users {
  position: relative;
  padding-inline-start: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-block-start: 0em;
  margin-left: 5px;
  display: none;
  list-style: none;
}

.friends-group-users.expanded {
  display: block;
}

.friends::-webkit-scrollbar {
  display: none;
}

.friends-group-friends-header-avatar-border {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  width: 41px;
  height: 41px;
  background: url(../../image/win_border.png) no-repeat center center;
  background-size: cover;
}

.friends-group-user-info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.friends-sidebar {
  width: 274px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  background: #f4f6fa;
}

.friends-main-contain {
  height: 100%;
}

.friends-box {
  height: 100%;
}

.friends-search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border-top: 1px solid #ddd;
  margin-top: 5px;
  background: #fff;
}

.friends-search-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ffffff;
  width: 125px;
  outline: none;
  font-size: 12px;
}

.friends-search-icon {
  width: 20px;
  height: 20px;
  background: url("../../image/channel_search.png") no-repeat center center;
  background-position: 0 0;
}

.friends-search-bar:hover:not(
    :has(.friends-search-pre:hover, .friends-search-next:hover)
  )
  .friends-search-icon {
  background-position: -20px 0;
}

.friends-search-pre {
  width: 30px;
  height: 30px;
  background: url(../../image/search_pre.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
}

.friends-search-pre:hover,
.friends-search-next:hover {
  background-position: -29px 0;
}

.friends-search-pre:active,
.friends-search-next:active {
  background-position: -58px 0;
}

.friends-search-next {
  width: 30px;
  height: 30px;
  background: url(../../image/search_next.png) no-repeat center center;
  background-position: 0 0;
  cursor: pointer;
}

.friends-user-list {
  padding-bottom: 0;
  padding-top: 0;
}

.friends-groups-header span {
  font-size: 13px;
  font-family: sans-serif;
  margin-right: 5px;
}

.friends-groups-header .friends-number {
  font-size: 12px;
}

.friends-user-groups .friends-groups-header {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5;
  border-radius: 3px;
}

.friends-user-groups .friends-groups-header:hover {
  background-color: #d1d5da5c;
}

.friends-user-groups .friends-toggle-icon {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../../image/channel/channelIcon.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
  margin-right: 5px;
}

.friends-groups-header:hover .friends-toggle-icon {
  background-position: 0 -14px;
}

.expanded .friends-toggle-icon {
  background-position: -14px 0;
}

.expanded.friends-groups-header:hover .friends-toggle-icon {
  background-position: -14px -14px;
}

.friends-user-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  padding: 5px;
  border-radius: 3px;
}

.friends-user-box:hover {
  background-color: #d1d5da5c;
}

.friends-group-user-info .friends-group-user-name {
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
}

.friends-group-user-info .friends-group-user-status {
  font-size: 12px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 185px;
}

.friends-content {
  flex: 1;
  height: auto;
  border-top: 2px solid #e0e0e4;
}

.friends-content-title {
  font-size: 13px;
  padding: 10px;
  background-color: #f4f6fa;
  font-weight: bold;
}

.error-box {
  text-align: center;
  color: #555;
  height: 100%;
}

.friends-main-area {
  background-color: #fff;
  border-right: 1px solid #ddd;
  background: #f7f7f7;
}

.friends-tab-control {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 36px;
  cursor: pointer;
  background: #fff;
}

.friends-tab-item {
  flex: 1;
  text-align: center;
  padding: 0px;
  cursor: pointer;
  background: url(../../image/friend_tab_item_bg.png) no-repeat;
  background-size: cover;
  padding-top: 0;
}

.friends-tab-item.selected {
  background-color: #dfe2e5;
}

.friends-user-list-icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../image/friend_list_page.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.friends-recently-list-icon {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../image/recently_list_page.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.FriendTabItem {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-position: 0 0;
}

.FriendTabItem:not(.selected) {
  border-top: 2px solid #e0e0e4;
  margin-top: 2px;
}

.friends-tab-item.FriendTabItem.selected {
  background: url(../../image/friend_tab_item_bg.png) no-repeat center center;
  background-size: cover;
  background-position: 0px -36px;
}

.friends-tab-item.FriendTabItem.selected:first-child {
  border-right: 1px solid #00000021;
}

.friends-tab-item.FriendTabItem.selected:nth-child(2) {
  border-left: 1px solid #00000021;
}

.selected .friends-user-list-icon,
.selected .friends-recently-list-icon {
  background-position: -64px 0;
}

.friends-header-avatar-box {
  width: 40px;
  height: 47px;
  padding: 1px;
  margin-left: 5px;
  cursor: pointer;
}

.friends-header-avatar-border {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: 6px;
  width: 40px;
  height: 40px;
  background: url(../../image/win_border.png) no-repeat center center;
  background-size: cover;
}

.friends-header-contain {
  display: flex;
  height: 49px;
  padding: 4px 4px 4px 0px;
  gap: 5px;
  align-items: center;
}

.friends-header-avatar-picture {
  cursor: pointer;
  object-fit: cover;
  content: "";
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url(../../image/im/SecretaryLogo.png) no-repeat center center;
  background-size: contain;
  background-position: 0 0;
}

.friends-header-base-info-wrapper {
  padding: 3px 2px 0 0;
  width: 240px;
  height: 100%;
}

.friends-header-base-info-contain {
  display: flex;
  height: 22px;
  gap: 7px;
  align-items: center;
}

.friends-header-base-info-level {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../image/im/LV.png) no-repeat center center;
  background-size: auto;
  background-position: 0 0;
}

.friends-header-base-info-weath {
  width: 16px;
  height: 16px;
  background: url(../../image/silver_pea.png) no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
}

.friends-header-friends-header-base-info-weaths {
  color: #7e7c6e;
  text-align: left;
  font-size: 13px;
}

.vip-icon.friends-vip {
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.friends-header-sign-widget {
  width: 29rem;
  margin-left: 3rem;
}

.friends-header-individual-signature {
  border-color: unset;
  border-width: unset;
  border-style: unset;
  padding: 5px;
  width: 100%;
  resize: none;
  overflow: hidden;
  font-size: 12px;
  outline: unset;
}

.friends-header-individual-signature:focus {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
}

.friends-disconnected-wrapper {
  height: 100%;
  border-top: 2px solid #e0e0e4;
}

.friends-disconnected-contain {
  height: 13rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.friends-disconnected-text {
  font-size: 12px;
}

.friends-disconnected-button {
  border: 1px solid #d7d9dd;
  height: 25px;
  width: 80px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #fff;
  color: #d7d9dd;
}

.friends-footer {
  background-color: #f4f4f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #e3e3e5;
  bottom: 2px;
  width: 100%;
  padding: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 253px;
  min-width: 253px;
  border-bottom-left-radius: 5px;
}

.friends-footer-button {
  margin-right: 5px;
  border: 1px solid #dbdde0;
  width: 110px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  font-size: 12px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #6e7c7e;
  padding: 5px;
  max-height: 19px;
  min-height: 19px;
}

.friends-add-group:before {
  content: "";
  background: url(../../image/add_group.png) no-repeat center center;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.friends-add-friend:before {
  content: "";
  background: url(../../image/add_friend.png) no-repeat center center;
  height: 16px;
  width: 16px;
  margin-right: 5px;
}
